In [46]:
! pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.4.1-py2.py3-none-any.whl (80 kB)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\leube\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\leube\anaconda3\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\leube\anaconda3\lib\site-packages (from category_encoders) (1.7.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\leube\anaconda3\lib\site-packages (from category_encoders) (1.3.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\leube\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\leube\anaconda3\lib\site-packages (from category_encoders) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\leube\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\leube\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.3)
Requirement already satisfied: six in c:\users\leube\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\leube\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\leube\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.4.1

In [5]:
import pandas as pd
import numpy as npPr
from sklearn.preprocessing import OneHotEncoder

In [6]:
df = pd.DataFrame({'TransactionID':[1,2,3,4,5],
                   'ClientID':[231,765,453,231,892],
                   'Profession':['Self-employed','students','Horeca','self-employed','finance'],
                   'Bank_dep':['009','005','007','009','003'],'Risk':['high','high','medium','high','low'],
                   'Number of credits':[2,3,5,2,3]})

In [7]:
categoricaldata = df.select_dtypes('object')
del categoricaldata['Bank_dep']

In [8]:
categoricaldata

      Profession    Risk
0  Self-employed    high
1       students    high
2         Horeca  medium
3  self-employed    high
4        finance     low

In [23]:
categoricaldata['Profession'] = categoricaldata['Profession'].str.lower()

C:\Users\leube\AppData\Local\Temp/ipykernel_56604/2317671973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricaldata['Profession'] = categoricaldata['Profession'].str.lower()

In [25]:
# dummy encoder
pd.get_dummies(categoricaldata)

,Profession_finance,Profession_horeca,Profession_self-employed,Profession_students,Risk_high,Risk_low,Risk_medium
0,0,0,1,0,1,0,0
1,0,0,0,1,1,0,0
2,0,1,0,0,0,0,1
3,0,0,1,0,1,0,0
4,1,0,0,0,0,1,0

In [30]:
# label encoder
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(categoricaldata['Profession'])
le.transform(categoricaldata['Profession'])
categoricaldata1 = categoricaldata
categoricaldata1['encoded'] = le.transform(categoricaldata['Profession'])

C:\Users\leube\AppData\Local\Temp/ipykernel_56604/2982340324.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricaldata1['encoded'] = le.transform(categoricaldata['Profession'])

In [38]:
from sklearn.preprocessing import LabelEncoder
categoricaldata['label_encoder'] = LabelEncoder().fit_transform(categoricaldata.Risk)
categoricaldata

C:\Users\leube\AppData\Local\Temp/ipykernel_56604/872643329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricaldata['label_encoder'] = LabelEncoder().fit_transform(categoricaldata.Risk)

      Profession    Risk  encoded  label_encoder
0  self-employed    high        2              0
1       students    high        3              0
2         horeca  medium        1              2
3  self-employed    high        2              0
4        finance     low        0              1

In [32]:
# ordinal
num_dict = {'self:employed':0,
            'stusents':1,
            'horeca':2,
            'finance':3}

categoricaldata2 = categoricaldata
categoricaldata2['num_ordinal'] = categoricaldata2.Profession.map(num_dict)

C:\Users\leube\AppData\Local\Temp/ipykernel_56604/1131591631.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricaldata2['num_ordinal'] = categoricaldata2.Profession.map(num_dict)

In [ ]:
## https://towardsdatascience.com/all-about-categorical-variable-encoding-305f3361fd02#:~:text=In%20backward%20difference%20coding%2C%20the,coding%20system%20for%20categorical%20features.
# https://contrib.scikit-learn.org/category_encoders/basen.html
# link to good website describing different encoding methods

In [47]:
# Backward Difference Coding
categoricaldata4 = categoricaldata
import category_encoders as ce
encoder = ce.BackwardDifferenceEncoder(cols=['Risk'])
df_bd = encoder.fit_transform(categoricaldata4)

df_bd.head()

   intercept     Profession    Risk_0    Risk_1  encoded  label_encoder
0          1  self-employed -0.666667 -0.333333        2              0
1          1       students -0.666667 -0.333333        3              0
2          1         horeca  0.333333 -0.333333        1              2
3          1  self-employed -0.666667 -0.333333        2              0
4          1        finance  0.333333  0.666667        0              1

In [14]:
# Helmet encoding
import category_encoders as ce
encoder = ce.helmert.HelmertEncoder(cols=['Risk'])
encoder.fit_transform(df['Risk'], y=None)

   intercept  Risk_0  Risk_1
0          1    -1.0    -1.0
1          1    -1.0    -1.0
2          1     1.0    -1.0
3          1    -1.0    -1.0
4          1     0.0     2.0

In [49]:
#  binary encoding
categoricaldata3 = categoricaldata
import category_encoders as ce
encoder = ce.BinaryEncoder(cols='Profession')
dfbin = encoder.fit_transform(categoricaldata3['Profession'])
categoricaldata3 = pd.concat([categoricaldata3,dfbin],axis=1)
categoricaldata3

,Profession,Risk,encoded,label_encoder,Profession_0,Profession_1,Profession_2
0,self-employed,high,2,0,0,0,1
1,students,high,3,0,0,1,0
2,horeca,medium,1,2,0,1,1
3,self-employed,high,2,0,0,0,1
4,finance,low,0,1,1,0,0

In [16]:
# BaseN encoder
encoder = ce.basen.BaseNEncoder(cols=['Risk'])
encoder.fit_transform(df['Risk'], y=None)

   Risk_0  Risk_1
0       0       1
1       0       1
2       1       0
3       0       1
4       1       1

In [20]:
# cat boost encoder

encoder = ce.cat_boost.CatBoostEncoder(cols=['Risk'])
encoder.fit_transform(df['Risk'], y=[1,2,3,4,5])

   Risk
0   3.0
1   2.0
2   3.0
3   2.0
4   3.0