# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
data = pd.read_csv(r"C:\Users\leube\Ironhack\cloned_labs\Module_1\Lab_30_Python-Plus\Admission_Predict.csv")
df = pd.DataFrame(data)

In [3]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [4]:
# your code here
old = list(df.columns)
def clean_column_names(old_columns_list):
    new_columns = [x.strip() for x in df.columns] 
    d = {}

    for x in range(len(old_columns_list)):
        d[old_columns_list[x]]=new_columns[x]
    return df.rename(columns=d,inplace=True)
        
clean_column_names(old)

In [5]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [6]:
# your code here
df.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here
df.set_index('Serial No.',drop=False, inplace=True)

In [9]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [10]:
# your code here
df['CGPA'].nunique() == df['Serial No.'].nunique()

# no, that statement is incorrect

False

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# your code here

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [12]:
# your code here
filtered = df[(df['CGPA']>9) & 
   (df['Research'] == 1)]
filtered

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
5,5,330,115,5,4.5,3.0,9.34,1,0.90
11,11,328,112,4,4.0,4.5,9.10,1,0.78
20,20,328,116,5,5.0,5.0,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
380,380,329,111,4,4.5,4.0,9.23,1,0.89
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [13]:
# your code here
filtered2 = df[(df['CGPA']>9) & 
             (df['SOP']<3.5)]
filtered2.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [19]:
filtered2['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [21]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    
    
    """
    mean = np.mean(df[f'{col}'])
    std = np.std(df[f'{col}'])
    
    return df[f'standardized_{col}'] = (df[f'{col}']-mean)/std

In [22]:
np.std(df['CGPA'])

0.6016024959756305

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [24]:
# your code here
standardize('CGPA')

In [27]:
standardize('GRE Score')
standardize('LOR')

In [28]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,standardized_CGPA,standardized_GRE Score,standardized_LOR
Serial No.,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [29]:
# Libraries
from random import choices

In [40]:
std_columns = ['standardized_CGPA', 'standardized_GRE Score', 'standardized_LOR']

In [41]:
df['decision_choice'] = choices(std_columns, k=df.shape[0])

In [42]:
df['decision_value'] = df.lookup(df.index, df['decision_choice'] )

# how to look for certain value in table

C:\Users\leube\AppData\Local\Temp/ipykernel_55508/4165523861.py:1: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  df['decision_value'] = df.lookup(df.index, df['decision_choice'] )

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [43]:
# your code here

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [44]:
# your code here
df['decision'] = np.where(df['decision_value']>0.8,1,0)

In [45]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,standardized_CGPA,standardized_GRE Score,standardized_LOR,decision_choice,decision_value,decision
Serial No.,,,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,standardized_CGPA,1.750174,1
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,standardized_LOR,0.076840,0
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,standardized_GRE Score,0.456297,0
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,standardized_CGPA,-0.643433,0
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,standardized_CGPA,1.234884,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,standardized_LOR,0.076840,0
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,standardized_LOR,0.076840,0
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,standardized_LOR,1.193197,1
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,standardized_GRE Score,-0.409947,0
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,standardized_GRE Score,1.409165,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [46]:
# your code here
df['decision'].sum()

84

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [53]:
# your code here
def clean_cols(df_columns):
    lst = list(df_columns)
    cleancs = [x.lower().strip().replace(' ','_') for x in lst]
    d = {}

    for x in range(len(lst)):
        d[lst[x]]=cleancs[x]
    return df.rename(columns=d,inplace=True)
clean_cols(df.columns)
df

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,standardized_cgpa,standardized_gre_score,standardized_lor,decision_choice,decision_value,decision
Serial No.,,,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,standardized_CGPA,1.750174,1
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,standardized_LOR,0.076840,0
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,standardized_GRE Score,0.456297,0
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,standardized_CGPA,-0.643433,0
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,standardized_CGPA,1.234884,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,standardized_LOR,0.076840,0
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,standardized_LOR,0.076840,0
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,standardized_LOR,1.193197,1
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,standardized_GRE Score,-0.409947,0
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,standardized_GRE Score,1.409165,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [54]:
# your code here
df['adjusted_gre'] = np.where(df['university_rating']>4, df['gre_score']+10, df['gre_score'])

In [58]:
labelstudents = ['worst 25%','worser medium','better medium','top 25%']


df['binsapplied'] = pd.cut(df['adjusted_gre'],4,labels=labelstudents)

In [59]:
df

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,standardized_cgpa,standardized_gre_score,standardized_lor,decision_choice,decision_value,decision,adjusted_gre,binsapplied
Serial No.,,,,,,,,,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,standardized_CGPA,1.750174,1,337,top 25%
2,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,standardized_LOR,0.076840,0,316,worser medium
3,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,standardized_GRE Score,0.456297,0,322,better medium
4,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,standardized_CGPA,-0.643433,0,314,worser medium
5,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,standardized_CGPA,1.234884,1,340,top 25%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82,0.736216,0.629546,0.076840,standardized_LOR,0.076840,0,324,better medium
382,382,325,107,3,3.0,3.5,9.11,1,0.84,0.852571,0.716170,0.076840,standardized_LOR,0.076840,0,325,better medium
383,383,330,116,4,5.0,4.5,9.45,1,0.91,1.417729,1.149292,1.193197,standardized_LOR,1.193197,1,330,better medium
384,384,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.409947,0.635019,standardized_GRE Score,-0.409947,0,312,worser medium
385,385,333,117,4,5.0,4.0,9.66,1,0.95,1.766796,1.409165,0.635019,standardized_GRE Score,1.409165,1,333,better medium